@font-face {
  src: url("CursedTimer.ttf");
  font-family: "CursedTimer";
}

body {
  margin: 68px auto;
  width: 500px;
  font-family: CursedTimer;
  background-color: #1b244a;
  color: #9aabd8;
}

#scoreboard {
  border: solid 5px #9aabd8;
  border-radius: 5px;
  padding-bottom: 50px;
}
h3 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

#score-board button {
  background-color: black;
  width: 155px;
  height: 120px;
  color: #f94f6d;
  font-size: 90px;
  border-radius: 5px;
  border: none;
  padding-top: 18px;
}

#btn-container {
  margin-top: 26px;
}

button {
  width: 45px;
  height: 45px;
  border: solid 2px #9aabd8;
  border-radius: 5px;
  font-size: 18px;
  color: #9aabd8;
  background-color: #1b244a;
}

button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transform: translateY(-3px);
}

#btn-container button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.13em);
}
